* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container {
    margin-left:75px;
    margin-right: 75px;
    border-right: 2px dotted black;
    border-left: 2px dotted black;
    display: block;
}
.logo {
    display: inline-block;
    width: 150px;
    margin-left:30px;
    text-decoration: none;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-size:20px;
    margin-bottom: 40px;
}
.logo:hover {
    opacity: .8;
}
.hed_menu {
    border-top:4px solid black;
    border-bottom:4px solid black;
    padding-left:30px;
}
.hed_menu>li {
    display: inline-block;
}
.hed_menu a {
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-size: 20px;
    padding: 10px 20px;
}
.hed_menu a:hover {
    color: #ffffff;
    background-color: #000;
}
.content {
    padding:40px 30px;
}
.content h1 {
    font-size: 40px;
    margin-bottom:10px;
}
.content p {
    font-size: 22px;
}
.content img {
    width:100%;
}
.content h2 {
    font-size: 30px;
    margin-bottom:10px;
}
.fot_menu {
    background-color: #000;
    font-size:12px;
    text-align: center;
    padding: 30px 0 30px 20px;
}
.fot_menu>li {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    margin-right: 20px;
}
.fot_menu a {
    text-decoration: none;
    color: #ffffff;
}
.fot_menu a:hover {
    border-bottom: 1px dashed;
    color: #ffffff;
}