* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    border-collapse: collapse;
}
.wrapper {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    height: 126px;
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    line-height:0.37em;
}
.header__top {
    height: 50px;
    background-color: #e5eef0;
    font-size: 13px;
    color: #9eabb1;
    width: 100%;
}
.header__top .wrapper div {
    display: inline-block;
    vertical-align: middle;
}
.content_header-top {
    width: 100%;
    height: 100%;
}
.slogan_header-top {
    padding-top: 20px;
}
.contact_header-top {
    float: right;
    padding-top: 10px;
}
.contact_header-top i {
    padding-right: 10px;
}
.mail-contact_header-top i {
    font-size: 20px;
}
.phone-contact_header-top i {
    font-size: 25px;
}
.mail-contact_header-top {
    padding-left: 74px;
}
.phone-contact_header-top {
    font-size: 14px;
}
.header__middle {
    height: 76px;
    background-color: #fff;
    width: 100%;
}
.logo {
    width: 40px;
    height: 76px;
    -webkit-background-size:100%;
    background-size:100%;
    background: url(../img/logo.png) no-repeat center center;
    display: inline-block;
}
.logo a {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: block;
}
.menu_header-middle {
    display: inline-block;
    float: right;
    margin-top: 19px;
    height: 38px;
    position: relative;
}
.menu_header-middle>ul {
    list-style-type:none;
    display: inline-block;
    height: 38px;
}
.menu_header-middle>ul>li {
    display: inline-block;
    list-style-type: none;
    padding: 0 15px;
}
.menu_header-middle>ul>li:hover {
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    background-color: #29c2e1;
    height: 100%;
    width: auto;
}
.menu_header-middle>ul>li:hover a {
    color: #fff;
    background-color: #29c2e1;
}
.menu_header-middle a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #a1aeb3;
    padding-top: 17px;
    display: inline-block;
    height: 100%;
    width: 100%;
}
.active a{
    color: #23282f;
}
.submenu_header-middle {
    position: relative;
}
.submenu_header-middle>a {
    padding-top: 13px;
}
.submenu_header-middle>ul {
    position: absolute;
    top: 38px;
    list-style-type: none;
    left: 0;
    opacity: 0;
    transition: .7s;
    display: none;
}
.submenu_header-middle:hover ul{
    opacity: 1;
    display: block;
}
.submenu_header-middle ul a {
    width: 130px;
    height: 35px;
    display: inline-block;
    text-align: center;
    transition: .5s;
}
.submenu_header-middle li:hover a {
    background-color: #165eb9!important;
}
main>div {
    width: 100%;
}
.slider {
    height: 750px;
    background-color: #cccccc;
}
.work {
    height: 669px;
    padding-top: 100px;
}
.work .wrapper>div {
    float: left;
}
.startup_work {
    width: 58%;
    margin-right: 30px;
}
.slogan_startup-work {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}
.subslogan_startup-work {
    font-family: 'Karla', sans-serif;
    margin-bottom: 40px;
}
.subslogan_startup-work,
.slogan_startup-work {
    text-transform: uppercase;
    color: #23282f;
    letter-spacing:0.025em;
    line-height:24px;
}
.description_startup-work {
    color: #55595f;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 60px;
}
.img_startup-work {
    width: 585px;
    height: 301px;
}
.item_work {
    width: 33.3%;
}
.count_item-work,
.count_item-featured {
    height: 145px;
}
.square_count-item-work,
.square_count-item-featured {
    height: 67px;
    width: 67px;
    background-color: #e5eef0;
    float: left;
    margin-right: 30px;
    margin-bottom: 28px;
}
.square_count-item-work:hover,
.square_count-item-featured:hover {
    background-color: #f7941d;
}
.slogan_count_item-work,
.slogan_count_item-featured {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: .025em;
    margin-bottom: 18px;
    font-family: 'Raleway', sans-serif;
}
.texts_count_item-work,
.texts_count_item-featured {
    font-size: 14px;
    color: #55595f;
    font-family: 'Open Sans', sans-serif;
}
.more-info_item-work,
.more-info_item-featured {
    margin-left:97px;
    display: block;
    width: 171px;
    height: 38px;
    background-color: #29c2e1;
    color: #fff;
    text-transform: uppercase;
    border:1px solid transparent;
    border-radius:15px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Karla', sans-serif;
    text-align: center;
    padding-top: 8px;
    transition: .7s;
}
.clients {
    height: 465px;
    background-color: #e5eef0;
}
.title_client,
.title_featured,
.title_pricing,
.title_team {
    padding-top: 100px;
    text-transform: uppercase;
    color: #23282f;
    letter-spacing: .025em;
    line-height: 24px;
    margin-bottom: 55px;
}
.name_title-client,
.name_title-featured,
.name_title-pricing,
.name_title-team {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 30px;
}
.text_title-client,
.text_title-featured,
.text_title-pricing,
.text_title-team {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
}
.quotes_title-clients,
.img_clients {
    float: left;
}
.quotes_title-clients {
    width: 54%;
    margin-right:50px;
}
.quotes {
    background: url(../img/quotes.png) no-repeat center center;
    width: 56px;
    height: 48px;
    margin-right: 40px;
    display: inline;
    margin-bottom: 38px;
    float: left;
}
.text-quotes_title-client {
    font-size: 15px;
    font-family: 'Lora', serif;
    line-height: 24px;
    font-style: italic;
    color: #55595f;
}
.info-people_quotes-client {
    padding-left: 96px;
    padding-top: 39px;
}
.from_qoutes-client,
.surname_quotes-client {
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    line-height: 20px;
    letter-spacing: .025em;
    color: #5f6369;
}
.surname_quotes-client {
    text-transform: uppercase;
    color: #f5a24c;
}
.img_clients {
    overflow: hidden;
    width: 472px;
    height: 172px;
    position: relative;
}
.list_img-client input[type=radio]{
    display: none;
}
.button-list_img-client {
    text-align: center;
}
.label_clients-list {
    height: 12px;
    width: 12px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background-color: #b3cacf;
    display: inline-block;
    cursor: pointer;
    transition: .5s;
}
.carousel_img-client {
    height: 132px;
    margin-bottom: 18px;
    position: relative;
}
.item-list_img-client {
    position: absolute;
}
.item-list_img-client>div {
    display: inline-block;
    opacity: 0;
    transition: 1.2s;
}
.item-list_img-client>div:nth-child(2){
    padding-left: 30px;
    padding-right: 30px;
}
#list_1:checked ~ .button-list_img-client>.list_1 {
    background-color: #29c2e1;
}
#list_2:checked ~ .button-list_img-client>.list_2
{
    background-color: #29c2e1;
}
#list_3:checked ~ .button-list_img-client>.list_3
{
    background-color: #29c2e1;
}
#list_1:checked ~ .carousel_img-client>.list_1>div {
    opacity: 1;
}
#list_2:checked ~ .carousel_img-client>.list_2>div {
    opacity: 1;
}
#list_3:checked ~ .carousel_img-client>.list_3>div {
    opacity: 1;
}
.featured {
    height: 660px;
    position: relative;
}
.featured .wrapper {
    border-bottom:1px solid #e5eef0;
    height: 660px;
}
.item_featured {
    width: 100%;
    text-align: center;
}
.item_featured .count_item-featured {
    display: inline-block;
    width: 33%;
}
.count_item-featured {
    text-align: left;
}
.more-info_item-featured {
    margin-left: 0;
    display: inline-block;
}
.figure_small {
    border-bottom: 80px solid #29c2e1;
    border-left: 58px solid transparent;
    border-right: 49px solid transparent;
    position: absolute;
    bottom: 0;
    right: 15%;
    z-index:2;
}
.figure_big {
    z-index:1;
    border-bottom: 109px solid #f69b37;
    border-left: 66px solid transparent;
    border-right: 69px solid transparent;
    position: absolute;
    bottom: 0;
    right: 8%;
}
.pricing {
    height: 715px;
}
.table_pricing,
.items_team {
    width: 100%;
}
.tariff_table-pricing,
.item_items-team {
    display: inline-block;
    margin: 0 15px;
    height: 425px;
    width: 259px;
    border: 1px solid #e6edee;
    text-align: center;
    position: relative;
    transition: .7s;
}
.tariff_table-pricing:hover {
    -webkit-box-shadow: 0 0 100px rgba(228,233,237, .75);
    -moz-box-shadow: 0 0 100px rgba(228,233,237, .75);
    box-shadow: 0 0 100px rgba(228,233,237, .75);
}
.action {
    width: 93px;
    height: 93px;
    position: absolute;
    background-image: url(../img/action.png);
    z-index:1;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: .025em;
}
.action span {
    padding-top: 15px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
    display: inline-block;
    width: 125px;
    height: 125px;
}
.tariff_table-pricing:first-child,
.item_items-team:first-child {
    margin-left: 0;
}
.tariff_table-pricing:last-child,
.item_items-team:last-child {
    margin-right: 0;
}
.name-tariff {
    height: 67px;
    display: inline-block;
    padding-top: 37px;
    text-transform: uppercase;
    color: #23282f;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    border-bottom: 1px solid #e6edee;
    width: 100%;
    position: relative;
}
.name-tariff::after {
    content: '';
    position: absolute;
    border-bottom:1px solid #f7941d;
    width: 38px;
    bottom: -1px;
    left: 77px;
}
.price-tariff {
    height: 60px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    border-bottom: 1px solid #e6edee;
    padding-top: 18px;
}
.price-tariff span {
    color: #f7941d;
}
.description-tariff {
    padding-top: 40px;
}
.description-tariff p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 36px;
    color: #55595f;
}
.order-tariff {
    width: 141px;
    height: 38px;
    border: 1px solid transparent;
    -webkit-border-radius:14px;
    -moz-border-radius:14px;
    border-radius:14px;
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14.5px;
    line-height: 36px;
    letter-spacing: .075em;
    background-color: #29c2e1;
    text-decoration: none;
    position: absolute;
    bottom: 37px;
    left: 61px;
    transition: .7s;
}
.order-tariff:hover,
.more-info_item-featured:hover,
.more-info_item-work:hover,
.sign-up_free:hover {
    background-color: #188ea5;
}
.team {
    height: 680px;
    background-color: #e5eef0;
}
.item_items-team {
    background-color: #ffffff;
    height: 400px;
}
.item_items-team img {
    width: 100%;
    height: 276px;
}
.info_item-team {
    padding-left: 25px;
    padding-top: 20px;
}
.item_items-team:hover {
    -webkit-box-shadow: 0 0 65px #ccdee2;
    -moz-box-shadow: 0 0 65px #ccdee2;
    box-shadow: 0 0 65px #ccdee2;
}
.info_item-team>div {
    -ms-text-align-last: left;
    text-align-last: left;
}
.name_info-item,
.profession_info-item {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .025em;
    font-family: 'Karla', sans-serif;
}
.name_info-item {
    text-transform: uppercase;
    color: #23282f;
}
.profession_info-item {
    color: #f7a244;
}
.social_block {
    padding-top: 15px;
}
.social_team {
    display: inline;
    -ms-text-align-last: left;
    text-align-last: left;
    letter-spacing: .025em;
    padding-right: 5px;
}
.social_team a {
    color: #adbdc1;
    transition: .5s;
}
.fb_info-item a:hover {
    color: #3b5998;
}
.tw_info-item a:hover {
    color: #00acee;
}
.go_info-item a:hover {
    color: #DB4437;
}
.free {
    height: 320px;
    text-align: center;
    padding-top: 100px;
}
.free .wrapper {
    height: 100%;
    border-bottom:1px solid #e5eef0;
}
.title_free,
.description_free {
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;
    line-height: 24px;
}
.title_free {
    font-weight: 500;
    font-size: 30px;
}
.description_free {
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
}
.link_free {
    margin-top: 32px;
}
.sign-up_free {
    background-color: #29c2e1;
    margin-right: 10px;
}
.sign-up_free,
.contact-us_free {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14.5px;
    font-family: 'Karla', sans-serif;
    display: inline-block;
    text-decoration: none;
    width: 140px;
    height: 38px;
    border:1px solid transparent;
    -webkit-border-radius:18px;
    -moz-border-radius:18px;
    border-radius:18px;
    line-height: 38px;
    letter-spacing: .048em;
    transition: .7s;
}
.contact-us_free {
    background-color: #f69b37;
}
.contact-us_free:hover {
    background-color: #d1710a;
}
.footer {
    height: 430px;
    padding-top: 75px;
    position: relative;
}
.footer .logo {
    float: left;
    width: 68px;
}
.navigation_footer {
    width: 395px;
    margin-left: 127px;
    float: left;
}
.title-navigation_footer,
.title-contacts_footer,
.title-newsletter_footer {
    padding-bottom: 5px;
    font-size: 18px;
    letter-spacing: .025em;
    line-height: 24px;
    color: #23282f;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.left-navigation_footer a,
.right-navigation_footer>a {
    display: block;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: #a1aeb3;
    font-size: 14px;
    line-height:35px;
    letter-spacing: .075em;
    transition: .5s;
    font-family: 'Karla', sans-serif;
}
.left-navigation_footer a:hover,
.right-navigation_footer>a:hover {
    color: #64767d;
    font-weight: 800;
}
.left-navigation_footer {
    width: 100px;
    margin-right: 97px;
}
.left-navigation_footer,
.right-navigation_footer {
    display: inline-block;
}
.right-navigation_footer {
    width: 100px;
}
.contacts_footer {
    width: 263px;
    margin-right: 30px;
    float: left;
}
.info-contact_footer,
.text_newsletter {
    font-size: 14px;
    letter-spacing: .075em;
    line-height: 35px;
    text-transform: uppercase;
}
.info-contact_footer p {
    font-family: 'Karla', sans-serif;
    color: #a1aeb3;
}
.info-contact_footer span {
    font-family:inherit;
    color: #3e4146;
}
.text_newsletter {
    color: #a1aeb3;
    font-family: 'Karla', sans-serif;
}
.input-newsletter_footer input[type="text"] {
    width: 215px;
    height: 40px;
    border: 1px solid #dde8ea;
    padding-left: 20px;
    float: left;
}
.input-newsletter_footer button,
.input-newsletter_footer input[type="text"] {
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Karla', sans-serif;
    letter-spacing: .075em;
    line-height: 35px;
}
.input-newsletter_footer button {
    height: 40px;
    width: 42px;
    background-color: #29c2e1;
    color: #ffffff;
    border:1px solid transparent;
    cursor: pointer;
}
.items_footer {
    height: 320px;
    border-bottom:1px solid #e5eef0;
}
.orange-triangle_footer {
    position: absolute;
    left: 0;
    bottom: 35px;
    width: 435px;
    height: 315px;
    border-bottom:315px solid #f69b37;
    border-right:435px solid transparent;
    z-index:-1;
}
.copyright_footer {
    height: 110px;
    text-align: center;
    text-transform: uppercase;
    color: #a1aeb3;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    padding-top: 23px;
}